In [ ]:
import pandas as pd
import numpy as np
import os


def get_clusters(data_dir):
    all_files = [os.path.join(data_dir, f) for f in os.listdir(data_dir) if f.endswith(".csv")] # All csv files in data_dir

    all_dataframes = []
    for file_path in all_files:
        df = pd.read_csv(file_path, index_col=0)
        file_basename = os.path.basename(file_path)
        prefix = os.path.splitext(file_basename)[0].replace("matrix_", "") 
        df.columns = [f"{prefix}_{col}" for col in df.columns]
        all_dataframes.append(df)

    concatenated_df = pd.concat(all_dataframes, axis=1)
    concatenated_df = concatenated_df.fillna(0)
    concatenated_df = concatenated_df.astype(int)

    return concatenated_df


data_dir = "daily_cluster_data/daily_cluster_matrices_min_6"

concatenated_df = get_clusters(data_dir)

co_occurrence_matrix = concatenated_df.dot(concatenated_df.T)
print(co_occurrence_matrix.shape)

(49, 49)

,1tv,mtavari,ghn,euronewsgeorgia,newspress,imedinews,bm,rustavi2,alia,tiflisnews,...,jamnews,tb24,itv,frontnews2,droni,reportiori,amerikiskhma,agenda,split,altinfo
1tv,12297,1033,3062,297,1877,5716,1326,3598,800,2654,...,38,16,3,2337,2,3043,104,121,7,241
mtavari,1033,9504,2711,314,136,902,1433,978,2347,422,...,148,12,18,1285,40,299,118,30,11,134
ghn,3062,2711,10887,380,1320,2991,1807,2200,1605,1231,...,122,19,85,2328,32,1582,135,72,5,198
euronewsgeorgia,297,314,380,2022,71,371,336,343,241,105,...,64,4,2,229,2,118,86,19,1,56
newspress,1877,136,1320,71,7558,5444,1280,3087,615,792,...,16,5,207,2138,2,3748,5,131,3,83